.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: #f9f9f9;
    font-family: sans-serif;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.classification-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #f9f9f9;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    margin-top: 70px; /* adjust to height of top bar */
    margin-bottom: 80px; /* adjust to height of bottom bar */
}

.tiles-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.green {
    background-color: #3a913f;
}
